{% extends 'skychimp/base.html' %}

{% block content %}

<div class="row">
     <div class="col-12 mb-5">
        <a href="{% url 'skychimp:create' %}" type="button"
           class="btn btn-outline-primary">Добавить рассылку</a>
        <a href="{% url 'skychimp:create_client' %}" type="button"
           class="btn btn-outline-primary">Добавить клиента</a>
         <a href="{% url 'skychimp:create_user_mail' %}" type="button"
           class="btn btn-outline-primary">Добавить сообщение</a>
         <a href="{% url 'skychimp:mailing_try_list' %}" type="button"
           class="btn btn-outline-primary">Смотреть отчет</a>
    </div>
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">

            <div class="card-body">
                <p class="card-text">{{ object.mailing }}</p>
                <p class="card-text">{{ object.try_time }}</p>
                <p class="card-text">{{ object.try_state }}</p>
                <p class="card-text">{{ object.server_response }}</p>
<!--                {% if object.mailing_state == "C" %}-->
<!--                <p class="card-text">Создана</p>-->
<!--                {% elif object.mailing_state == "F" %}-->
<!--                <p class="card-text">Завершена</p>-->
<!--                {% elif object.mailing_state == "R" %}-->
<!--                <p class="card-text">Запущена</p>-->
                {% endif %}
               </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}